services:
  reverse-proxy:
    profiles:
      - app
    image: traefik:3.6.7
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      # HTTPS redirect
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entryPoints.websecure.http.tls=true"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # TLS
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=alex@share-events.ru"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      # - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      # dashboard
      # - "--api.insecure=false"
      # - "--api.dashboard=true"
      # - "--entrypoints.dashboard.address=:8081"
    ports:
      - 80:80
      - 443:443
      - 8081:8081
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "letsencrypt:/letsencrypt"
    restart: always

  app:
    profiles:
      - app
    image: ra5um1st/itmprototype-app
    expose:
      - 8080
    environment:
      - YAMLCONF_DATABASES.default.HOST=postgres
      - YAMLCONF_DEBUG=False
    # lifecycle:
    #   post_start:
    #    - "python ./src/manage.py migrate"
    #    - "python ./src/manage.py loaddata ./dumpdata/events.json ./dumpdata/tags.json ./dumpdata/event_tags.json"
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`share-events.ru`) || PathPrefix(`/`)"
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.tls.certresolver=myresolver"
  
  postgres:
    profiles:
      - app
      - db
    image: postgis/postgis:18-3.6-alpine
    volumes:
      - ./.pgdata:/var/lib/postgresql/18/docker
    expose:
      - 5432
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 5

volumes:
  letsencrypt: