services:
  app:
    profiles:
      - app
    build: .
    ports:
      - 8080:8080
    environment:
      - YAMLCONF_DATABASES.default.HOST=postgres
      - YAMLCONF_DEBUG=False
  
  postgres:
    profiles:
      - app
      - db
    image: postgis/postgis:18-3.6-alpine
    volumes:
      - ./.pgdata:/var/lib/postgresql/18/docker
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
