services:
  app:
    profiles:
      - app
    image: ra5um1st/itmprototype-app
    ports:
      - 8080:8080
    environment:
      - YAMLCONF_DATABASES.default.HOST=postgres
      - YAMLCONF_DEBUG=False
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
  
  postgres:
    profiles:
      - app
      - db
    image: postgis/postgis:18-3.6-alpine
    volumes:
      - ./.pgdata:/var/lib/postgresql/18/docker
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 5
