services:
  app:
    profiles:
      - app
    build: .
    ports:
      - 8080:8080
    environment:
      APP_DEBUG: 0
  
  prostgres:
    profiles:
      - app
      - db
    image: postgis/postgis:18-3.6-alpine
    # volumes:
    #   - ./volumes/postgres:/var/lib/postgresql/18/docker
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
