{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block body %}

<div class="md:flex">
  
  <div id="menu" class="flex flex-col sticky z-1 top-16 h-full md:w-full md:min-w-xs md:h-[calc(100vh-var(--spacing)*16)] bg-base-100 shadow-sm rounded-lg">
    <!-- Карта -->
    <div id="map" class="map h-[33vh] md:grow"></div>

    <!-- Поиск, сортировка, фильтрация -->
    <form hx-get="{% url 'events_search' %}"
          hx-trigger="change, input changed delay:1s from:#search"
          hx-target="#event_list"
          hx-push-url="true"
          hx-swap="innerHTML"
          hx-indicator="#indicator"
          hx-disabled-elt="button, select, input:not(#search)"
          hx-on::before-request="events = [];"
          >
      
      <!-- Поиск -->
      <label class="input input absolute z-1 m-4 top-0 w-auto">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input id="search" name="search_text" value="{{ form.search_text }}" type="search" class="grow" placeholder="Поиск" />
      </label>

      <details class="collapse bg-base-100 border-base-300 border">
        <summary class="collapse-title font-semibold px-4 py-2">Сортировка и фильтрация</summary>
        <div class="collapse-content flex flex-wrap gap-x-2">
          
          <!-- Выбор поля для сортировки -->
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Сортировка</legend>
            <select name="order_by" class="select">
              <option disabled selected >Выберите</option>
              {% for event_order_field in select_options.event_order_fields %}
              <option value="{{ event_order_field.id }}" {% if form.order_by == event_order_field.id %} selected {% endif %}>{{ event_order_field.name }}</option>
              {% endfor %}
            </select>
          </fieldset>

          <!-- Тип сортировки -->
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Тип сортировки</legend>
            <select name="order_type" class="select">
              <option disabled selected >Выберите</option>
              <option value="asc" {% if form.order_type == "asc" %} selected {% endif %}>По возрастанию</option>
              <option value="desc" {% if form.order_type == "desc" %} selected {% endif %}>По убыванию</option>
            </select>
          </fieldset>

          <!-- Фильтрация по дате -->
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Дата и время</legend>
            <div class="join">
              <input id="start_date" name="start_date" value="{{ form.start_date }}" type="datetime-local" class="input join-item" />
              <input name="end_date" value="{{ form.end_date }}" type="datetime-local" class="input join-item" />
            </div>
          </fieldset>

          <!-- Размер страницы -->
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Размер страницы</legend>
            <select name="page_size" class="select">
              {% for page_size in select_options.page_sizes %}
              <option value="{{ page_size }}" {% if form.page_size == page_size %} selected {% endif %}>{{ page_size }}</option>
              {% endfor %}
            </select>
          </fieldset>

        </div>
      </details>
    </form>

    <!-- Статистика -->
    <details class="collapse bg-base-100 border-base-300 border">
      <summary class="collapse-title font-semibold px-4 py-2">Статистика</summary>
      <div class="collapse-content">
        {% include "events/events_stats.html" %}
      </div>
    </details>
  </div>

  <!-- Список событий -->
  <div id="event_list" class="flex flex-col gap-2 m-2 md:min-w-xs md:max-w-[50%]">
    {% if form %}
      {% for event in events %}
      {% include "events/events_card.html" %}
      {% empty %}
      <div class="font-medium text-xl p-4 text-center">События не найдены</div>
      {% endfor %}
      
      {% if form.has_next %}
      {% include "events/events_next_page_load.html" %}
      {% endif %}
    {% else %}
      {% include "events/events_next_page_load.html" %}
    {% endif %}  
  </div>

  {% include "events/events_actions.html" %}

</div>


<script>
  var map = new maplibregl.Map({
      container: 'map',
      style: {
          version: 8,
          projection: {
            type: 'globe'
          },
          sources: {
              osm: {
                  type: 'raster',
                  tiles: ['https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'],
                  tileSize: 256,
                  attribution: '© OpenStreetMap Contributors',
                  maxzoom: 19
              },
              geojsonSource: {
                  type: 'geojson',
                  data: {
                      type: 'FeatureCollection',
                      features: []
                  },
                  cluster: true,
                  clusterMaxZoom: 14,
                  clusterRadius: 50
              }
          },
          layers: [
              {
                  id: 'osm',
                  type: 'raster',
                  source: 'osm'
              },
              {
                  id: 'clusters',
                  type: 'circle',
                  source: 'geojsonSource',
                  filter: ['has', 'point_count'],
                  paint: {
                      'circle-color': '#FFC61E',
                      'circle-radius': [
                          'step',
                          ['get', 'point_count'],
                          20,
                          100,
                          30
                      ]
                  }
              },
              {
                  id: 'cluster-count',
                  type: 'symbol',
                  source: 'geojsonSource',
                  filter: ['has', 'point_count'],
                  layout: {
                      'text-field': '{point_count_abbreviated}',
                      'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
                      'text-size': 12
                  }
              },
              {
                  id: 'unclustered-point',
                  type: 'circle',
                  source: 'geojsonSource',
                  filter: ['!', ['has', 'point_count']],
                  paint: {
                      'circle-color': '#000000',
                      'circle-radius': 6,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#ffffff'
                  }
              },
              {
                  id: 'labels-for-unclustered-point',
                  type: 'symbol',
                  source: 'geojsonSource',
                  filter: ['!', ['has', 'point_count']],
                  layout: {
                      'text-field': ['get', 'name'], // Здесь выводится название объекта (если оно есть)
                      'text-font': ['Open Sans Regular', 'Arial Unicode MS Regular'],
                      'text-offset': [0, 0.5],           // Смещение относительно точки вверх
                      'text-anchor': 'top',              // Центр привязки к верхнему краю кружка
                      'text-size': 12
                  },
                  paint: {
                    'text-color': '#000000', // Set the text color
                    'text-halo-color': '#FFFFFF', // Add a white halo for visibility
                    'text-halo-width': 1
                  }
              }
          ]
      },
      center: [43.9, 56.3],
      zoom: 10
  });

  var events = [
  {% for event in events %}
      {
        "geometry": {
          "coordinates": [{{ event.geolocation.x | unlocalize }}, {{ event.geolocation.y | unlocalize }}]
        },
        "properties": {
          "id": {{ event.id }},
          "name": "{{ event.title }}",
          "content": "{{ event.content }}"
        }
      },
  {% endfor %}
  ];

  function update_map() {
    map.getSource('geojsonSource').setData({
          type: 'FeatureCollection',
          features: events.map(function(event) {
              return {
                  type: 'Feature',
                  geometry: {
                      type: 'Point',
                      coordinates: event.geometry.coordinates
                  },
                  properties: {
                    id: event.properties.id,
                    name: event.properties.name,
                    content: event.properties.content
                  }
              };
          })
      });
  }

  // Обработаем данные после полной загрузки карты
  map.once('load', update_map);

  // Change the cursor to a pointer when the mouse is over the places layer.
  map.on('mouseenter', 'unclustered-point', () => {
      map.getCanvas().style.cursor = 'pointer';
  });

  // Change it back to a pointer when it leaves.
  map.on('mouseleave', 'unclustered-point', () => {
      map.getCanvas().style.cursor = '';
  });

  // Обработка нажатий на маркер
  map.on('click', 'unclustered-point', (e) => {
    const coordinates = e.features[0].geometry.coordinates.slice();
    const id = e.features[0].properties.id;
    const name = e.features[0].properties.name;
    const content = e.features[0].properties.content;

    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }

    popup = new maplibregl.Popup()
        .setLngLat(coordinates)
        .setHTML(content)
        .addTo(map);

    // Переместиться к событию в списке
    clicked_event = document.getElementById("event_" + id);

    if (clicked_event) {
      clicked_event.scrollIntoView({
        behavior: 'smooth',
        block: 'end'
      });
    }
  });

</script>

{% endblock body %}