{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block body %}

<form class="neutral-content h-[calc(100vh-var(--spacing)*16)] flex justify-center"
      method="POST"
      action="{% url 'accounts_create' %}">
      {% csrf_token %}
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 self-center mb-32">
    <legend class="fieldset-legend">Register</legend>

    <label class="label">Username</label>
    <input name="username" type="text" class="input" placeholder="Username" />

    <label class="label">Password</label>
    <input name="password" type="password" class="input" placeholder="Password" />

    <label class="label">Confirm password</label>
    <input name="password2" type="password" class="input" placeholder="Confirm password" />

    {% if form.errors %}
    <p class="text-error text-center">{{ form.errors }}</p>
    {% endif %}

    <a href="{% url 'accounts_login' %}" class="text-secondary justify-self-end hover:underline m-2">Login</a>

    <button class="btn btn-neutral mt-2">Register</button>
  </fieldset>
</form>

{% endblock body %}