<form class="flex justify-center"
      hx-post="{% url 'events_create' %}"
      hx-target="#event_list"
      hx-swap="afterbegin">
  <fieldset class="fieldset border-base-300 rounded-box w-xs border p-4 ">
    <label class="label">Title</label>
    <input name="title" type="text" class="input" placeholder="Title" />
    
    <label class="label">Content</label>
    <textarea name="content" class="textarea" placeholder="Content"></textarea>

    <div class="w-100 h-100 flex justify-items-stretch">
    {{ form.geolocation }}
    </div>

    <label class="label">Date and time</label>
    <input name="created" type="datetime-local" class="input"  />
    
    <label class="label">Media</label>
    <input name="media" type="file" class="file-input file-input-primary" accept="image/*,.gif" />
    
    {% if has_errors %}
    <p class="text-error text-center">Не удалось создать событие: {{ form.errors }}</p>
    {% endif %}

    <button class="btn btn-neutral mt-2">Создать</button>
  </fieldset>
</form>

{% comment %} {% load crispy_forms_tags %}

{{ form | crispy }} {% endcomment %}