<button class="btn btn-xl btn-active btn-circle btn-accent fixed bottom-0 right-0 m-4 z-10 shadow-xl"
        onclick="modal_event_create.showModal()">+</button>

<dialog id="modal_event_create" class="modal">
  <div class="modal-box">
      <h3 class="text-lg font-bold mb-4">Создать событие</h3>
      <div id="modal_event_create_content" 
           hx-on::after-request="if (event.detail.xhr.getResponseHeader('X-Entity-Created') === 'true') { closeCreateEventModal(); }">
          {% include "events/create/form.html" %}
      </div>
  </div>
  <form method="dialog" class="modal-backdrop">
      <button>close</button>
  </form>
</dialog>